ANTHROPIC_API_KEY="<Test Anthropic API Key>"
# Set environment to local to use ngrok
ENVIRONMENT="local"
NGROK_URL="<NGROK URL>"

SENTRY_DSN="<Sentry DSN>"
OPENROUTER_API_KEY="<Test OpenRouter API Key>"
STRIPE_SECRET_KEY="<Test Stripe Secret Key>"
STRIPE_WEBHOOK_SIGNING_SECRET="<Test Stripe Webhook Signing Secret>"
ADAM_URL="<Adam URL or dev URL>"
GOOGLE_API_KEY="<Google API Key>"
FAL_KEY="<FAL API Key>"